.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}

button:focus, .btn.focus, .btn:focus {
    outline: none !important ;
    box-shadow: none !important;
}


