.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}

button:focus, .btn.focus, .btn:focus {
    outline: none !important ;
    box-shadow: none !important;
}

.outline {
  text-shadow:
    -0.5px -0.5px 0 #fff,
    0.5px -0.5px 0 #fff,
    -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;  
}

